<div class="box">
  <div class="right">
     <div class="box-login">
         <div class="box-header">
          <span class="icon"><img src="./../../../../assets/images/logo.png" alt=""></span>
          <span class="title">به اُسیما خوش آمدید.</span>
         </div>
         <p>پنل اُسیما با انگولار متریال نوشته شده </p>
         <p>تمامی کامپنت ها با ngrx باهم در ارتباط میباشند.</p>
     </div>

  </div>
  <div class="left">
    <div class="box-form">
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
