<div class="profile">
  <div class="header">
      <span class="name">لیلا حیدری</span>
      <span class="member">عضویت ویژه</span>
  </div>
  <div class="body">
    <ul>
      <li>
        <a href="">
          <span class="icon"><i class="bx bx-cog"></i></span>
          <span class="title">تنظیمات حساب کاربری</span>
        </a>
      </li>
      <li>
        <a (click)="onLogOut()">
          <span class="icon"><i class="bx bx-log-out-circle"></i></span>
          <span class="title">خروج</span>
        </a>
      </li>
    </ul>
  </div>
</div>


