<section class="box-items">
  <div class="b-item">
    <div class="box-item">
      <div class="card-body">
        <div class="card-title">کل سفارشات</div>
        <div class="box-img-price">
          <div class="img-blue box-img">
            <img  src="./../../../../../assets/images/offer.svg"  alt="">
          </div>
          <span class="price">
            <span class="digital">1,320,000</span>
            <span class="vahed">ریال</span>
          </span>
        </div>
        <div class="card-footer">
          <div class="item" style="margin-bottom: 5px;">
            <span class="title">در این ماه</span>
            <span class="hr"></span>
            <span class="value digital">240</span>
          </div>
          <div class="item">
            <span class="title">ماه گذشته</span>
            <span class="hr"></span>
            <span class="value digital"><span>%</span>3</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="b-item">
    <div class="box-item">
      <div class="card-body">
        <div class="card-title">کل سود</div>
        <div class="box-img-price">
          <div class="img-pink box-img">
            <img  src="./../../../../../assets/images/sales.svg"  alt="">
          </div>
          <span class="price">
            <span class="digital">1,320,000</span>
            <span class="vahed">ریال</span>
          </span>
        </div>
        <div class="card-footer">
          <div class="item">
            <span class="title">در این ماه</span>
            <span class="hr"></span>
            <span class="value digital">240</span>
          </div>
          <div class="item">
            <span class="title">ماه گذشته</span>
            <span class="hr"></span>
            <span class="value digital"><span>%</span>3</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="b-item">
    <div class="box-item">
      <div class="card-body">
        <div class="card-title">کل فروش</div>
        <div class="box-img-price">
          <div class="img-green box-img">
            <img  src="./../../../../../assets/images/touch-screen.svg"  alt="">
          </div>
          <span class="price">
            <span class="digital">1,320,000</span>
            <span class="vahed">ریال</span>
          </span>
        </div>
        <div class="card-footer">
          <div class="item">
            <span class="title">در این ماه</span>
            <span class="hr"></span>
            <span class="value digital">240</span>
          </div>
          <div class="item">
            <span class="title">ماه گذشته</span>
            <span class="hr"></span>
            <span class="value digital"><span>%</span>3</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="b-item">
    <div class="box-item">
      <div class="card-body">
        <div class="card-title">کل درآمد</div>
        <div class="box-img-price">
          <div class="img-brown box-img">
            <img  src="./../../../../../assets/images/price.svg"  alt="">
          </div>
          <span class="price">
            <span class="digital">1,320,000</span>
            <span class="vahed">ریال</span>
          </span>
        </div>
        <div class="card-footer">
          <div class="item">
            <span class="title">در این ماه</span>
            <span class="hr"></span>
            <span class="value digital">240</span>
          </div>
          <div class="item">
            <span class="title">ماه گذشته</span>
            <span class="hr"></span>
            <span class="value digital"><span>%</span>3</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
