<div class="content-tab">
  <div class="header">
    <span class="comment">
      <img src="./../../../../../../../assets/images/quote-icon (1).svg">
    </span>
      یک تایم لاین که بدونه استفاده از هیچ ماژولی تنها با سی اس اس نوشته شده.
  </div>
  <div class="page">

    <div class="page-timeLine">
      <div class="line"></div>
      <ul class="box-text">
        <li class="bx1">
          <div class="concate">گام اول : یک جمله با متن کوتاه : <a [href]="contract1">اینجا را</a> کلیک نمایید</div>
        </li>
        <li class="bx2">
          <div class="concate">گام دوم : ایجاد جملات با متن طولانی تر نسبت به گام اول برای نمایش بهتر
            .
            <span> <strong>نکته : </strong> تنها برای نمایش ارتفاع نیاز به متن با کملات بیشتر میباشد
             بخدا کار من تولید محتوا نیست.</span>
          </div>
        </li>
        <li class="bx3">
          <div class="concate">گام سوم : چگونه از برنامه نویس بودن به تولید کنند محتوا تبدیل بشیم <a [href]="contract2">اینجا را</a> کلیک نمایید
            <span>آیا مصاحبه ای را دیده اید که باراک اوباما، در آن دونالد ترامپ را “احمق” خطاب کند؟ یا مارک زاکربرگ در مورد “کنترل کامل روی میلیاردها گیگابایت داده که از مردم سرقت شده است” بلف بزند؟ یا  عذرخواهی جان اسنو را برای پایان ناخوشایند سریال Game Of Thrones را شاهد بوده اید؟ اگر پاسخ شما “بله” است، شما ویدیوهای دیپ فیک (Deepfake) را دیده اید.</span>
          </div>
        </li>
        <li class="bx4">
          <div class="concate">گام چهارم : حتی صدای شخصیت‌های معروف هم می‌تواند با تکنولوژی دیپ فیک تقلید شود. مارس سال گذشته، رئیس یک شرکت انگلیسی که زیرمجموعه یک شرکت آلمانی فعال در حوزه انرژی است،</div>
        </li>
        <li class="bx5">
          <div class="concate">گام پنجم :  مرکز مطالعات استراتژیک و بین المللی کار می‌کند، اما این ماجرا یک دیپ فیک بود برای یک عملیات
            رسید پاکت را از اینجا پرینت نمایید</div>
          <button mat-raised-button class="btn-post" (click)="RegisterContract('all')"  [disabled]="isPendingReq">دریافت اطلاعات بیشتر</button>
        </li>
        <li class="bx6">
          <div class="concate">گام ششم :
            اگر گام پنجم را سپری کرده ایده قطعا گام ششم میخوانید بزرگ مرد تاریخ خیابانی.
            <span> <strong>نکته : </strong> هیچ حرف بی سندی قبول نکن
            </span>
          </div>
        </li>
        <li class="bx7">
          <div class="concate">گام هفتم : بالاخره تموم شده تبریک میگم به خودم رزومه ام رد بشه میتونم تولید محتوا کنم.</div>
        </li>
      </ul>

    </div>
  </div>
</div>
