<div class="box">
  <div class="header-dialog">
    <i class="fas fa-at"></i>
    ثبت ایمیل
  </div>
  <div class="content" dir="rtl">
    <form [formGroup]="MobileForm" (ngSubmit)="onSubmit()">
      <div class="fx">
        <div class="in">
          <mat-form-field appearance="outline">
            <mat-label>ایمیل</mat-label>
            <input type="email" formControlName="mobile" matInput />
          </mat-form-field>
        </div>
      </div>
      <div class="action-footer">
        <button type="submit" mat-dialog-close class="btn-close" mat-raised-button>
          لغو
        </button>
        <button type="submit" mat-dialog-close [disabled]="MobileForm.invalid" class="btnDefult" mat-raised-button>
          ارسال کد
        </button>
      </div>
    </form>
  </div>
  <div class="footer"></div>
</div>
