<app-card-order></app-card-order>

<section class="step2 box">
  <div class="item">
      <app-province></app-province>
  </div>
  <div class="item">
      <app-chart-multi-line></app-chart-multi-line>
  </div>
</section>

<section class="step3 box">
  <div class="item">
    <app-rating></app-rating>
  </div>
  <div class="item">
    <app-order></app-order>
  </div>
  <div class="item item-search">
    <app-traffic></app-traffic>
  </div>
</section>

<section class="step4 box">
  <div class="item">
    <app-chart-pie></app-chart-pie>
  </div>
  <div class="item">
    <app-chart-bar></app-chart-bar>
  </div>
</section>

