<div class="rating">
  <app-card-header title="{{title}}" description={{description}}></app-card-header>
  <div class="box-rating">
    <div class="star-top">
      <span class="digital value">4.6</span>
      <span class="star">
        <i class="bx bx-star"></i>
        <i class="bx bx-star"></i>
        <i class="bx bx-star"></i>
        <i class="bx bx-star"></i>
        <i class="bx bx-star"></i>
      </span>
    </div>
    <div class="costumer">امتیاز کلی محصول توسط مشتریان</div>
    <div class="box-borderless">
      <ul>
        <li>
          <div class="item">
            <span class="index digital">1</span>
            <span class="star"><i class="bx bx-star"></i></span>
            <span class="border star1">
              <mat-progress-bar mode="determinate" value="20"></mat-progress-bar>
            </span>
            <span class="value digital">7</span>
          </div>
        </li>
        <li>
          <div class="item">
            <span class="index digital">2</span>
            <span class="star"><i class="bx bx-star"></i></span>
            <span class="border star2">
              <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
            </span>
            <span class="value digital">27</span>
          </div>
        </li>
        <li>
          <div class="item">
            <span class="index digital">3</span>
            <span class="star"><i class="bx bx-star"></i></span>
            <span class="border star3">
              <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>
            </span>
            <span class="value digital">64</span>
          </div>
        </li>
        <li>
          <div class="item">
            <span class="index digital">4</span>
            <span class="star"><i class="bx bx-star"></i></span>
            <span class="border star4">
              <mat-progress-bar mode="determinate" value="60"></mat-progress-bar>
            </span>
            <span class="value digital">93</span>
          </div>
        </li>
        <li>
          <div class="item">
            <span class="index digital">5</span>
            <span class="star"><i class="bx bx-star"></i></span>
            <span class="border star5">
              <mat-progress-bar mode="determinate" value="70"></mat-progress-bar>
            </span>
            <span class="value digital">82</span>
          </div>
        </li>
      </ul>
    </div>

    <div class="box-users">
      <ul>
        <li><img src="./../../../../../assets/images/1.jpg" alt=""></li>
        <li><img src="./../../../../../assets/images/2.jpg" alt=""></li>
        <li><img src="./../../../../../assets/images/13.jpg" alt=""></li>
        <li><img src="./../../../../../assets/images/14.jpg" alt=""></li>
        <li><img src="./../../../../../assets/images/5.jpg" alt=""></li>
        <li><img src="./../../../../../assets/images/16.jpg" alt=""></li>
      </ul>
    </div>
  </div>
</div>
