<section class="page-not-found">
  <h1 class="text-white">
    4
    <i class="far fa-frown tx-130" style="margin-left: 12px;margin-right: -22px;"></i>
    0
    <span class="tx-20">error</span>
  </h1>
  <div class="tx-1">
    <span style="margin-left: 5px;">اه متاسفم !!!</span>
    <span>صفحه مورد نظر شما وجود ندارد...
    </span>
  </div>
  <div class="tx-2">میتوانید از طریق لینک زیر وارد داشبورد شوید.</div>
  <button class="back-btn" mat-raised-button (click)="backDashboard()">ورود به داشبورد</button>
</section>




