<div class="province">
  <app-card-header title="{{title}}" description={{description}}></app-card-header>
   <div class="box-province">
        <ul>
          <li>
            <div class="item">
              <span class="right">
                 <span class="icon c1"><i class="las la-map-marked"></i></span>
                 <span class="title">تهران</span>
              </span>
              <span class="left">
                <span class="digital number">35,502</span>
                <span class="digital percent up">12.75%<i class="feather-arrow-up"></i></span>
              </span>
            </div>
          </li>
          <li>
            <div class="item">
              <span class="right">
                 <span class="icon c2"><i class="las la-map-marked"></i></span>
                 <span class="title">اصفهان</span>
              </span>
              <span class="left">
                <span class="digital number">35,502</span>
                <span class="digital percent down">12.75%<i class="feather-arrow-down"></i></span>
              </span>
            </div>
          </li>
          <li>
            <div class="item">
              <span class="right">
                 <span class="icon c3"><i class="las la-map-marked"></i></span>
                 <span class="title">خراسان رضوی</span>
              </span>
              <span class="left">
                <span class="digital number">35,502</span>
                <span class="digital percent up">12.75%<i class="feather-arrow-up"></i></span>
              </span>
            </div>
          </li>
          <li>
            <div class="item">
              <span class="right">
                 <span class="icon c4"><i class="las la-map-marked"></i></span>
                 <span class="title">گلستان</span>
              </span>
              <span class="left">
                <span class="digital number">35,502</span>
                <span class="digital percent down">12.75%<i class="feather-arrow-down"></i></span>
              </span>
            </div>
          </li>
          <li>
            <div class="item">
              <span class="right">
                 <span class="icon c5"><i class="las la-map-marked"></i></span>
                 <span class="title">بوشهر</span>
              </span>
              <span class="left">
                <span class="digital number">35,502</span>
                <span class="digital percent up">12.75%<i class="feather-arrow-up"></i></span>
              </span>
            </div>
          </li>
          <li>
            <div class="item">
              <span class="right">
                 <span class="icon c6"><i class="las la-map-marked"></i></span>
                 <span class="title">فارس</span>
              </span>
              <span class="left">
                <span class="digital number">35,502</span>
                <span class="digital percent up">12.75%<i class="feather-arrow-up"></i></span>
              </span>
            </div>
          </li>
          <li>
            <div class="item">
              <span class="right">
                 <span class="icon c7"><i class="las la-map-marked"></i></span>
                 <span class="title">خوزستان</span>
              </span>
              <span class="left">
                <span class="digital number">35,502</span>
                <span class="digital percent down">12.75%<i class="feather-arrow-down"></i></span>
              </span>

            </div>
          </li>
        </ul>
   </div>
</div>
