@import url('./../../../../../../assets/scss/Form.scss');

.box{
  font-family: 'YekanBakh';
  position: relative;
}

.fa-mobile-android-alt {
  font-size: 18px;
  margin-left: 10px;
  position: relative;
  top: -3px;
}

.content{
   margin-top: 15px;
}

.action-footer{
  margin-top: 0 !important;
}

.fx{
  margin: 20px 0px 5px 0px;
}
